

<!DOCTYPE html>
<html lang="en" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="x-apple-disable-message-reformatting">
    <title>Send Email</title>

  <style>

    @media screen {
      img {
        max-width: 100%;
      }
    }
    @media (max-width: 600px) {
      .sm-block {
        display: block !important;
      }
      .sm-py-8 {
        padding-top: 8px !important;
        padding-bottom: 8px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
      .sm-px-12 {
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
      .sm-text-center {
        text-align: center !important;
      }
      .sm-w-full {
        width: 100% !important;
      }
    }
  </style>
</head>
<body>

  <h1 style="display: flex; align-item: center">
      <%= image_tag(attachments['logo.png'].url) %>
      <p style="color: blue">Milk Shop</p>
  </h1>

  <div style="display: flex; margin-bottom: 15px">
    <h2 class="all-font-montserrat" style="color: blue; margin: 0; font-size: 20px;">Giỏ hàng của bạn | </h2> 
    <span style="color: red; padding-left: 5px; font-size: 20px;"><%= number_to_currency(@checkouts.cart.total, precision: 0) %></span>
  </div>

<% @checkouts.cart.cart_items.each do | item | %>
  
  <div style="display: flex; align-items: center;">

    <div style="width: 120px">
        <% if item.product.image.attached? %>
            <% @filename = item.product.to_s + item.product.image.filename.extension_with_delimiter %>
              <% if ActiveStorage::Blob.service.respond_to?(:path_for) %>
              <% attachments[@filename] = File.read(ActiveStorage::Blob.service.send(:path_for, item.product.image.key)) %>
              <% end %>
          <% end %>
        <%= image_tag(attachments[@filename].url) %> 
    </div>

    <div>
      <h4 style="margin: 0; margin-bottom: 2px; color: #2d3748; font-size: 18px;"><%= item.product.name %> <span class="sm-block" style="font-weight: 400; color: #718096; font-size: 14px;">x <%= item.quantity %></span></h4>
      <p style="font-weight: 700 ;color: red; font-size: 16px;"><%= number_to_currency(item.product.price, precision: 0)%></p>
    </div>
  </div>
<% end %>

  <div class="sm-block sm-text-center sm-py-8" style=" padding-left: 70px; margin-top: 10px">
    <h2 class="all-font-montserrat" style="margin: 0; color: #4a5568; font-size: 20px;">&copy; Milk Shop</h2>
    <p style="padding-top: 5px; color: #718096; font-size: 14px;">Nguyễn Xí - Đà Nẵng </p>
  </div>

  <div class="sm-block sm-text-center sm-py-8" style="display: flex; padding-left: 8px; padding-right: 8px;">
    <div class="sm-block sm-text-center sm-py-8" style="padding-left: 8px; padding-right: 8px;">
      <a href="#" class="hover-text-gray-800" style="color: #718096; font-size: 14px; text-decoration: none;">Sản phẩm</a>
    </div>
    <div class="sm-block sm-text-center sm-py-8" style="padding-left: 8px; padding-right: 8px;">
      <a href="#" class="hover-text-gray-800" style="color: #718096; font-size: 14px; text-decoration: none;">Tin tức</a>
    </div>
    <div class="sm-block sm-text-center sm-py-8" style="padding-left: 8px; padding-right: 8px;">
      <a href="#" class="hover-text-gray-800" style="color: #718096; font-size: 14px; text-decoration: none;">Hỗ trợ</a>
    </div>
    <div class="sm-block sm-text-center sm-py-8" style="padding-left: 8px; padding-right: 8px;">
      <a href="#" class="hover-text-gray-800" style="color: #718096; font-size: 14px; text-decoration: none;">Liên Hệ</a>
    </div>
  </div>
</body>
</html>