<% provide :title, "Trang Slides" %>
<%= render partial: "admin/header" %>

<div class="new-items">

    <div class="dashboard">
    
        <%=render partial: "admin/sidebar" %>

        <div class="aside">

            <div class="products-table col-md-8 mx-auto" style="margin-top: 3rem; font-size: 2rem">

                <table class="table table-borderless table-lg text-center">
                        
                        <thead class="table-dark">
                            <tr>
                                <th scope="col-4" class="">ID</th>
                                <th scope="col-4" class="">HÌNH ẢNH</th>
                                <th scope="col-4" class="">CẬP NHẬT</th>
                            </tr>
                        </thead>
                        <tbody>      
                            <% @slides.each do |slide| %>
                                <tr>
                                    <td><%= slide.id %></td>
                                    <td>
                                        <%= link_to ( image_tag slide.image, style:"width: 20rem; height: 5rem;" if slide.image.attached? ), slide %>
                                    </td>
                                    <td>
                                        <%= link_to "Sửa", edit_slide_path(slide), class:"btn-lg btn-warning" %> |
                                        <%= link_to "Xóa", slide_path(slide), data: { turbo_method: :delete}, class:"btn-lg btn-danger" %>
                                    </td>
                                </tr>
                            <% end%>
                        </tbody>

                </table>

            </div> 
        </div>
    </div>
</div> 