<% provide :title, "Tạo slide" %>
<%=render partial: "admin/header" %>

<div class="new-items">

    <div class="dashboard">
    
        <%=render partial: "admin/sidebar" %>

        <div class="aside">

            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center mt-5">Thêm slide</h2>

                    <%= form_for @slides do |f| %>
                        <%= render "shared/error_messages", object: @slides %>

                        <%= f.text_field :name, placeholder:"Tên", class:"form-control mt-4" %>
                        <%= f.file_field :image, class:"form-control mt-4" %>
                        <%= f.submit "Thêm slide", class:"btn-lg btn-primary mt-4" %>
                    <% end %>

                </div>

            </div>       

        </div>
    </div>
</div>