<!DOCTYPE html>
<html lang="en">
<head>
   <head>
    <title><%= yield(:title)%> | App Foods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "admin", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

</head>
<body>
    <%= render partial: "admin/header" %>
    

</body>
</html>