<% provide :title, "Cập nhật Users" %>
<%= render partial: "admin/header" %>

<div class="new-items">

    <div class="dashboard">
    
        <%=render partial: "admin/sidebar" %>

        <div class="aside">
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-5">
                <h1 class="text-center">Cập nhật tài khoản</h1>
                    <%= form_for @users do |f| %>
                    
                    <%= render "shared/error_messages", object: @users %>

                    <%= f.text_field :name, class:"form-control mt-4", placeholder: "Tên" %>

                    <%= f.email_field :email, class: "form-control mt-4", placeholder: "Email" %>

                    <%= f.password_field :password, class: "form-control mt-4", placeholder: "Mật khẩu" %>

                    <%= f.password_field :password_confirmation, class: "form-control mt-4", placeholder: "Nhập lại mật khẩu" %>

                    <%= f.submit "Cập nhật", class:"btn-lg btn-primary mt-4" %>

                    <% end %>
                </div>
            </div>
                    
        </div>
    </div>
</div> 