<% provide :title, "Trang sản phẩm" %>
<%= render partial: "admin/header" %>

<div class="new-items">

    <div class="dashboard">
    
        <%=render partial: "admin/sidebar" %>

        <div class="aside">

            <div class="products-table col-md-8 mx-auto" style="margin-top: 3rem; font-size: 2rem">

                <table class="table table-borderless table-lg text-center">
                        
                        <thead class="table-dark">
                            <tr>
                                <th scope="col-4" class="">ID</th>
                                <th scope="col-4" class="">HÌNH ẢNH</th>
                                <th scope="col-4" class="">TÊN SẢN PHẨM</th>
                                <th scope="col-4" class="">CẬP NHẬT</th>
                            </tr>
                        </thead>
                        <tbody>      
                            <% @products.each do |product| %>
                                <tr>
                                    <td><%= product.id %></td>
                                    <td>
                                        <%= link_to ( image_tag product.image, style:"width: 5rem; height: 5rem;" if product.image.attached? ), product %>
                                    </td>
                                    <td><%= link_to product.name, product_path(product) %></td>
                                    <td>
                                        <%= link_to "Sửa", edit_product_path(product), class:"btn-lg btn-warning" %> |
                                        <%= link_to "Xóa", product_path(product), data: { turbo_method: :delete}, class:"btn-lg btn-danger" %>
                                    </td>
                                </tr>
                            <% end%>
                        </tbody>

                </table>
                    <%=raw pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div> 
        </div>
    </div>
</div> 