<% provide :title, "Thêm sản phẩm" %>
<%=render partial: "admin/header" %>


<div class="new-items">

    <div class="dashboard">
    
        <%=render partial: "admin/sidebar" %>

        <div class="aside">
            <div class="row">
                <div class="col-md-6 offset-md-3" style="margin-top: 4rem;">
                    <h2 class="text-center">Thêm sản phẩm</h2>
                
                    <%= form_for @products do |f| %>
                        <%= render "shared/error_messages", object: @products %>

                        <%= f.text_field :name, placeholder:"Tên sản phẩm", class:"form-control mt-3" %>
                        <%= f.text_field :describe, placeholder:"Mô tả ngắn", class:"form-control mt-3" %>
                        <%= f.text_field :price, placeholder:"Giá sản phẩm", class:"form-control mt-3" %>
                        <%= f.file_field :image, class:"form-control mt-3" %>
                        <%= f.label :category_id, "Chọn danh mục", class:"mt-3 h3" %>
                        <br>
                        <%= f.collection_select :category_id, Category.all, :id, :name %>
                        <br>
                        <%= f.submit "Thêm sản phẩm",  class:"btn-lg btn-primary mt-3" %>
                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>