<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title)%> | App Foods</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%#<meta name="turbo-visit-control" content="reload">  <%# khi click sự kiện phải tải lại trang %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "carts","checkouts", "products", "slide", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/slide" %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="fs-4 alert alert-<%= message_type %>"><%= message %></div>
      <% end %>

    <%= yield %>
    </div>
</body>
</html>
